.articles-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .css-46bh2p-MuiCardContent-root{
    padding: 0 !important;
  }

  .css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .article-action{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0px;
  }
  .article-action > svg{
    stroke-width: 2;
  }